<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

<h1>Hello, and welcome to my blog.</h1>
<%= link_to 'See all posts', controller: 'articles' %>
